h1 {
    font-family: 'Oswald';
    margin-left: 10px;
}

p {
    font-family: 'Lato';
    margin-left: 10px;
}
html, body {
    background-color: white;
}
#Aus_map2 {
    margin-left: 10px;
    margin-right: 10px;
}
.pure-u-1-2 {
    width: 45vw;
}
.pure-u-1-3 img {
    width: 30vw;
}
.pure-u-1-3 {
    margin-top: 30vw;
}
