h1 {
    font-family: 'Oswald';
    text-align: center;
    font-weight: 900;
    margin-left: 10px;
    background-color: #26A96C;
    margin: auto;
    line-height: 1.5em;
    padding: 10px;
    box-shadow: 10px 10px;
}

h2 {
    font-family: 'Oswald';
    text-align: center;
    background-color: #2BC016;
    font-weight: 500;
    margin-left: 10px;
    padding: 10px;
    margin: auto;
    box-shadow: 5px 5px;
}

p {
    font-family: 'Lato';
    text-align: center;
    margin-left: 10px;
    padding: 15px;
}

.vis_container {
    width: 100%;
}

html{
    background-color: white;
}   

#text_box {
    border: 3px dashed #32936F;
}

#l_padding {
    padding-left: 20px;
}

.page {
    width: 900px;
    background-color: rgb(255, 246, 233);
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}

.pure-g {
    width: 880px;
    margin: auto;
    padding: 10px;
}

.highlight-engineering {
    color: #72b7b2; 
}

.highlight-commerce {
    color: #ff9da6; 
}

.highlight-Architecture {
    color: #4c78a8; 
}

.highlight-Science {
    color: #9d755d; 
}

.highlight-Education {
    color: #e45756;
}

#Eng_Gender {
    padding-left: 151px;
}

#PAOS_State {
    padding-left: 50px;
}

#name_drop{
    font-family: 'Lato';
    text-align: left;
    margin-left: 10px;
    color: #353535;
    font-size: small;
}

